#customer-table{
    background-color: lightgrey;
}
#search-result-table{
    background-color: rgb(189, 246, 165);
}
.customer-list-div{
    /* margin: 50px; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;
    padding: 50px;
    gap: 40px;
    margin-right: 200px;
    margin-left: 300px;

}
button{
    margin: 20px;
    background-color: rgb(138, 138, 255);
    color: white;
    border-radius: 5px;
    /* border: 5px solid black; */
   
}

tr{
    border: 0px ;
    /* border-bottom: 1px;
    border-top: 10px; */

    /* margin: 0px; */
}
td{
    /* border: 10px solid black; */
    width: 300px;
    border-left:0px;
    border-right:0px;
}
.search-result{
    margin-top: 100px;
    padding: 50px;
    gap: 40px;
    margin-right: 200px;
    margin-left: 300px;
}
/* .search-result table{
    width: 100px;
} */

input{
    margin: 10px;
    margin-bottom: 20px;

}

button:hover{
    background-color: rgb(145, 88, 198);
    
}
/* #magicButton:hover {
    transform: translate(10px, 0);
    transition: transform 0.3s ease; 
} */
    
