

<div class="laptop-details">
    <!-- S/no:{{index}} -->
     <div>Id:{{id | number:'2.0'}}</div>
  <div>model: {{model}}</div>
  <div>price: {{price | currency:'INR'}}</div>
  <div>brand: {{brand}}</div>
  <div (mouseover)="highlight()" [class.highlight]="highlighted" >brand: {{brand}}</div>
    <!-- <div (mouseover)="highlight()"  [style.background-color]="clr">brand: {{brand}}</div> -->

  <!-- <input type="text" [value]="like" (input)="changedValue($event)"> -->

  <input type="text" [(ngModel)]= "like" placeholder="ng model">
  value is : {{like}}
</div>
