.customer-list-div{
    /* margin: 50px; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;
    padding: 50px;
    gap: 40px;
    margin-right: 200px;
    margin-left: 300px;

}
button{
    margin: 20px;
}

tr{
    border: 0;
}

.search-result{
    margin-top: 100px;
    padding: 50px;
    gap: 40px;
    margin-right: 200px;
    margin-left: 300px;
}